<div class="">
  <h3>Dinamica Molecular</h3>
</div>
<div class="row">
  <div class="col-xs-12">
      <app-graph [value]="value" [yAxisLabel]="yAxisLabel"></app-graph>
  </div>
</div>
<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" (click)="changeChart(xm)">X(m)</button>
    <button type="button" class="btn btn-secondary" (click)="changeChart(ym)">Y(m)</button>
    <button type="button" class="btn btn-secondary" (click)="changeChart(zm)">Z(m)</button>
    <button type="button" class="btn btn-secondary" (click)="changeChart(vx)">Vx</button>
    <button type="button" class="btn btn-secondary" (click)="changeChart(vy)">Vy</button>
    <button type="button" class="btn btn-secondary" (click)="changeChart(vz)">Vz</button>
    <button type="button" class="btn btn-secondary" (click)="changeChart(ax)">Ax</button>
    <button type="button" class="btn btn-secondary" (click)="changeChart(ay)">Ay</button>
    <button type="button" class="btn btn-secondary" (click)="changeChart(az)">Az</button>
    <button type="button" class="btn btn-secondary" (click)="changeChart(ut)">Ut</button>
    <button type="button" class="btn btn-secondary" (click)="changeChart(u)">U</button>
    <button type="button" class="btn btn-secondary" (click)="changeChart(ec)">Ec</button>
</div>